---
import Layout from "$/layouts/Auth.astro";
import { Input } from "$/components/ui/input";
import { Button } from "$/components/ui/button";

export const prerender = false;
---

<Layout class="flex flex-col justify-center items-center">
  <h1 class="text-2xl font-semibold tracking-tight">Invite an Insider</h1>
  <p class="text-muted-foreground text-sm">
    Please enter an email address to invite an Insider
  </p>
  <form
    action="/api/auth/invite"
    method="post"
    class="mt-10 w-full max-w-sm flex flex-col gap-3"
  >
    <Input name="email" type="email" placeholder="name@example.com" />
    <Button type="submit">Invite</Button>
  </form>
</Layout>
