---
import Layout from "./Layout.astro";
const { class: classList } = Astro.props;
---

<Layout>
  <main class="flex-1 flex items-center justify-center flex-col">
    <div class="rounded-md border flex max-w-screen-md w-full p-8">
      <section class={`flex-1 ${classList}`}>
        <slot />
      </section>
    </div>
  </main>
</Layout>
